/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@font-face {
    font-family: Montserrat ;
    src: url("../fonts/static/Montserrat-Medium.ttf");
} 
@import "tailwindcss";

@theme {
    --color-mycolor: #FFFBFB;
    --font-myfont : Montserrat , serif;
}